{% extends 'base.html' %}
{% block Title %}About Us{% endblock Title %}
{% block body %}
<div class="container my-3">
    <h2 class="todo-header">About Us</h2>
    <p>Welcome to our Todo application. This application allows you to manage your tasks efficiently by adding, updating, and deleting todos. We aim to help you stay organized and productive.</p>
    <p>This app was developed using the Flask framework and SQLAlchemy for database management. Below are the main features:</p>
    <ul>
        <li>Add new todos with a title and description.</li>
        <li>Update existing todos to keep information current.</li>
        <li>Delete todos when they are no longer needed.</li>
        <li>View a list of all your todos in a structured format.</li>
    </ul>
    <p>Thank you for using our application!</p>
</div>
{% endblock body %}
